* {
	box-sizing: content-box;

}
body {
	margin: 0;
	padding: 0;
	background-color: #a1d8ed;
}

.circle {
      width: 200px;
      height: 200px;
      background-image: radial-gradient( rgba(255, 149, 27, 0.1) 0%, rgba(255, 255, 2555, 0.0) );
      border-radius: 100%;
      margin-top: 43em;
      margin-left: 1em;
	  z-index: 1000;
	  position: absolute;
	 
    }


.circle2 {
	width: 200px;
      height: 200px;
      background-image: radial-gradient( rgba(255, 149, 27, 0.1) 0%, rgba(255, 255, 2555, 0.0) );
      border-radius: 100%;
      margin-top: 43em;
      margin-left: 105em;
	  z-index: 1000;
	  position: absolute;
}

.circle3 {
	width: 200px;
      height: 200px;
      background-image: radial-gradient( rgba(255, 149, 27, 0.1) 0%, rgba(255, 255, 2555, 0.0) );
      border-radius: 100%;
      margin-top: 88em;
      margin-left: 1em;
	  z-index: 1000;
	  position: absolute;
}

.circle4 {
	width: 200px;
      height: 200px;
      background-image: radial-gradient( rgba(255, 149, 27, 0.1) 0%, rgba(255, 255, 2555, 0.0) );
      border-radius: 100%;
      margin-top: 88em;
      margin-left: 105em;
	  z-index: 1000;
	  position: absolute;
}

.circle5 {
	width: 200px;
      height: 200px;
      background-image: radial-gradient( rgba(255, 149, 27, 0.1) 0%, rgba(255, 255, 2555, 0.0) );
      border-radius: 100%;
      margin-top: 133em;
      margin-left: 1em;
	  z-index: 1000;
	  position: absolute;
}

.circle6 {
	width: 200px;
      height: 200px;
      background-image: radial-gradient( rgba(255, 149, 27, 0.1) 0%, rgba(255, 255, 2555, 0.0) );
      border-radius: 100%;
      margin-top: 133em;
      margin-left: 105em;
	  z-index: 1000;
	  position: absolute;
}



#torch {
	width: 15em;
	margin-top: 45em;
	position: absolute;
}

#torch1 {
	width: 15em;
	margin-top: 45em;
	margin-left: 104em;
	position: absolute;
}

#torch2 {
	width: 15em;
	margin-top: 90em;
	position: absolute;
}

#torch3 {
	width: 15em;
	margin-top: 90em;
	margin-left: 104em;
	position: absolute;
}

#torch4 {
	width: 15em;
	margin-top: 135em;
	position: absolute;
}

#torch5 {
	width: 15em;
	margin-top: 135em;
	margin-left: 104em;
	position: absolute;
}


#layer1 {
	max-width: 100%;
	align-items: center;
	position: absolute;
	padding-top: 20em;
	width: 2200px;

}


#layer2 {
	max-width: 300%;
	height: auto;
	position: absolute;
	left: -105%;
	top: -100%;
	 
}


#layer3 {
	max-width: 200%;
	height: auto;
	position: absolute;
	left: -50%;
	top: -50%;

}

 


.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px);
 }


.parallax__layer--mid {
  transform: translateZ(-2px);
}
















